@charset "UTF-8";

#l_menu_tbl {
	margin: auto;
	width: 850px;
	padding-top: 1%;
	padding-bottom: 1%;
}

#l_menu_hr {
	text-align: center;
	height: 2px;
	background-color: black;
	margin-bottom: 5%;
}

.l_menu_link {
	text-align: center;
	width: 80px
}

#l_menu_title {
	text-align: center;
	width: 508px;
	font-size: 24px;
	font-weight: bold;
}

.l_menu_link2 {
	width: 80px;
}

#cp_tbl{

	text-align: center;
	margin: 0 auto;
	margin-bottom: 15%;
	margin-top: 10%;

}

.cp_th{

	background-color: gray;

}

#cp_btn{
	padding-top: 20%;

}