@charset "UTF-8";

body {
	margin: 0;
}

.m_hr {
	text-align: center;
	height: 2px;
	background-color: black;
}

#m_title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

.m_td{
	padding-bottom: 10%;
}

#m_div{

	margin-bottom: 50px

}